* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.my-corous {
  position: relative;

  margin: auto;
  margin-top: 20px;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2193f3;
  overflow: hidden;
  z-index: -3;
}

.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  background: #642b73;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #c6426e, #642b73);
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  background-color: #f4ee3b;
  padding: 15px;
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.imgBx img {
  width: 300px;
  height: 200px;

  position: absolute;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(63, 44, 44, 0.4);
  border-radius: 5px;
}
h3 {
  color: purple;
}
